*{
    margin: 0%;
    padding: 0%;
    
}
.nav1,.fc,ul,li{
    display: flex;
    align-items: center;
}
.fc{
    background:linear-gradient(rgb(202, 200, 200),white);
    font-size: 18px;
    padding: 13px; 
}
.fc img{
    width: 40px;
    height: 60px;
}

.fc h1{
    margin-left: 5px;
    color: rgb(7, 93, 64);
    font-family:'Times New Roman', Times, serif;  
    margin-bottom: 5px;
}
.fc ul{
    font-size: 19px;
}


.dots{
    margin-left: 15px;
    cursor: pointer;
}
.dots:hover{
    position: relative;
}
.dots:hover .dropdown{
    display: block;
}
.dropdown{
    position: absolute;
    display: none;
    top: 20px;
    right: 1px;
}
.dropdown li{
    color: rgb(48, 14, 125);
}   
ul{
    margin-left: 5%;
}
li{
    padding: 2px 15px;
    color:black;
    cursor: pointer;
}
.search{
    margin-left: 2%;
    width: 390px;
    height: 40px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
    color: inherit;
}

.ul2{
    margin-left: 0%;
    justify-content: center;
    background-color: rgb(201, 215, 215);
}
.ul2 li{
    margin: 5px 50px;
    font-weight: bold;
    font-size: 20px;
}
header{
    position: fixed;
    width: 1265px;
}

.header h1{
    text-align: center;
    padding-top: 135px;
    color: rgb(7, 93, 64);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(227, 225, 225);
    row-gap: 10px;
    
}
.sweatgrid{
    text-align: center;
    margin-top: 30px;
        
}
.sweatgrid img{
    width: 270px;
    height: 320px;
    border-style: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.sweatgrid p{
    font-weight: bold;
}
span{
    color: orangered;
}
strike{
    font-variant:unset;
    color: gray;
}

.footer{
    height: 250px;
    /* background-color:rgb(6, 6, 34); */
    display: grid;
    grid-template-columns: 30% 30% 40%;
    color: beige;
    padding-left: 100PX;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right,rgb(180, 209, 209),rgb(185, 182, 160)); 
    color: rgb(7, 7, 7);;
}
.cont{
    color: rgb(8, 8, 8);
    font-size: xx-large;
    font-family: monospace;
    margin-top: 35px;
}
.links,.can{
    padding-top: 30px;
    font-size: x-large;
    font-family:monospace;
    
}
.links li,.can li{
    padding: 5px;
}
.pol
{
    font-size: xx-large;
}
.contact p{
    margin-top: 20px;
    font-size: larger;
}
address{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: larger;
}